/* Stylesheet.css */

/* Generel styling */
.container {
    max-width: 1200px; /* Øg containerens maksimale bredde */
    margin: 20px auto;
    padding: 30px;
}

.overskrift {
    text-align: center;
    margin-bottom: 50px;
}

/* Element styling */
article, section, nav, footer {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

nav ul, ul {
    padding: 0;
    list-style-type: none;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background-color: lightblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

footer {
    text-align: center;
}

/* Tabel styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
