<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form action="/attractions/update" th:object="${touristattraction}" method="post">
    <p>
        <label>Name(kan ikke ændres):</label>
        <input type="text" name="name" th:value="${touristAttraction.name}" readonly/>
    </p>
    <p>
        <label>Description:</label>
        <input type="text" name="description" th:field="${touristAttraction.description}"/>
    </p>
    <p>
        <label>Tags:</label>
    <div th:each="tag : ${touristAttraction.tags}">
        <input type="text" th:value="${tag}" name="tags"/>
    </div>
    </p>
    <input type="submit" value="update" />
</form>
</body>
</html>